@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.container{
    font-family: 'Source Sans Pro', sans-serif;
}

h1{
    font-family: 'Source Sans Pro', sans-serif;
    color: seagreen;
}

h2{
    font-family: 'Source Sans Pro', sans-serif;
    z-index: 1;
}

h3{
    position: absolute;
    bottom: 30px;
    width: 370px;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color:lightseagreen;
    text-align: center;
    background:lightskyblue;
    border-bottom: 0;
    font-family: 'Source Sans Pro', sans-serif;;

}
.bottom{
    text-align: center;
    background-color:#666666;
    height: 100px;
    border-top: 10px;
    border-color:lightskyblue;
    border-style: solid;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;

}

.jumbotron-fluid{
    border-color: #dddddd;
    border-style: solid;
    border-width: 2px;
    background-color: #ffffff; 


}
.navbar-brand{
    background-color: lightskyblue;
    color: lightseagreen;
    padding: 10px;
    margin-left: 90px;
}

.navbar-expand-lg{
    background-color: #ffffff;
    border-color: #cccccc;
    border-style: solid;
    border-width: 2px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}
.clearfix {
    overflow: auto;
}
.aboutImg{
    float: left;
    padding: 10px;

}

.img-fluid{
    padding: 15px;
}
.textOverlay{
    color: #4aaaa5;
    height: 150px;
    width: 400px;
}
.githubRepoLink{
    font-size: 14pt;
}